.slick-dots {
  bottom: 20px;
  display: flex;

  li {
    margin: 0px 7px;

    button {
      display: block;
      width: 15px;
      height: 15px;

      border-radius: 100%;
      background-color: transparent;
      border: 1px solid white;

      &::before {
        opacity: 0;
        color: transparent;
      }
    }

    &.slick-active button {
      background-color: white;

      &::before {
        color: white;
      }
    }
  }
}
